datamappingdemo/src/main/resources/customer-schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="customer">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="age" type="xs:integer" />
        <xs:element name="customerId" type="xs:string" />
        <xs:element name="contactInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="email" type="xs:string" />
              <xs:element name="mobile" type="xs:long" />
              <xs:element name="address" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="kycInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="validated" type="xs:boolean" />
              <xs:element name="idProof" type="xs:string" />
              <xs:element name="addressProof" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>